.playerPokeList {
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-height: 600px;
    min-width: 60px;
    float: left;
}

.pokeSaveComp {
    margin-top: 5px;
    height: 40px;
    background-color: rgba(114, 255, 177, 0.7);
    border: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.pokeSaveComp:hover {
    background-color: rgba(114, 255, 177, 1);
    transform: scale(1.15);
}